/*
  Author: Justin Clayton
*/

/* HTML selector rules */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 15px;
}

form button {
  margin-top: 25px;
  align-self: center;
}

h1 a {
  margin-left: 25px;
  color: whitesmoke;
}

h1 a:hover {
  color: thistle;
  text-decoration: none;
}

header div#status a, header div#status p {
  font-size: 1.4rem;
  display: inline;
  margin-right: 10px;
}

section ul {
  list-style: none;
  max-height: 500px;
}

/* Class rules */
.card {
  padding: 20px;
  margin: 20px;
}

.card p img {
  width: 30px;
  display: inline-block;
}

.row {
  justify-content: space-evenly;
}

/* ID rules */
