<!--
  Author: Justin Clayton
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {% load static %}
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/books.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <header>
    <h1><a href="{% url 'app:books' %}">Dojo Reads</a></h1>
    <div id="status">
      <p>Welcome, {{ request.user.get_full_name }}</p>
      <a class="btn btn-outline-success" href="{% url 'app:new_book' %}">
        Add Book and Review
      </a>
      <a class="btn btn-outline-warning" href="{% url 'users:logout' %}">Logout</a>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <section class="col-lg-6">
        <h2>{{ book.title }}</h2>
        <h3>{{ book.author.name }}</h3>
        <h4>Reviews:</h4>
        {% for review in book.reviews.all %}
        <div class="card">
          <p>Rating:
            {% for i in stars %}
            {% if i <= review.rating %}
            <img src="{% static 'app/img/star.png' %}" alt="gold star">
            {% else %}
            <img src="{% static 'app/img/empty-star.png' %}" alt="empty star">
            {% endif %}
            {% endfor %}
          </p>
          <p>
            <a href="#">{{ review.created_by.alias }}</a>
            says: {{ review.review }}
          </p>
          <p>Posted on: {{ review.created_at.date }}</p>
        </div>
        {% endfor %}
      </section>
      <form action="{% url 'app:book_detail' book_id=book.id %}"
        class="col-lg-4">{% csrf_token %}
        <h2>Add A Review</h2>

        <label for="review">Review</label>
        <textarea name="review" id="review" class="form-control"
          minlength="10" required></textarea>

        <label for="rating">Rating (1 to 5)</label>
        <input class="form-control" type="number" name="rating" id="rating"
          min="1" max="5">

        <button type="submit" class="btn-lg btn-success">Add Review</button>
      </form>
    </div>
  </main>
</body>
</html>
