<!--
  Author: Justin Clayton
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {% load static %}
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/books.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <header>
    <h1>Dojo Reads</h1>
    <div id="status">
      <p>Welcome, {{ request.user.get_full_name }}</p>
      <a class="btn btn-success" href="{% url 'app:new_book' %}">
        Add Book and Review
      </a>
      <a class="btn btn-warning" href="{% url 'users:logout' %}">Logout</a>
    </div>
  </header>
  <main class="container bg-light">
    <div class="row">
      <section class="col-lg-6" id="recent-reviews">
        <h2>Recent Book Reviews</h2>
        {% for review in recent_reviews %}
        <div class="card">
          <h3>
            <a href="/books/{{review.book.id}}/">{{ review.book.title }}</a>
          </h3>
          <p class="ml-4">
            Rating:
            {% for i in stars %}
            {% if i <= review.rating %}
            <img src="{% static 'app/img/star.png' %}" alt="gold star">
            {% else %}
            <img src="{% static 'app/img/empty-star.png' %}" alt="empty star">
            {% endif %}
            {% endfor %}
          </p>
          <p class="ml-4">
            <a href="#">{{ review.created_by.alias }}</a>
            says: {{ review.review }}
          </p>
          <p class="ml-4">Posted on: {{ review.created_at.date }}</p>
        </div>
        {% endfor %}
      </section>
      <section class="col-lg-5">
        <h2>Other Books With Reviews</h2>
        <ul>
          {% for book in books %}
          <li><a href="/books/{{book.id}}/">{{ book.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>
</body>
</html>
